*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

a:link, a:visited, a:active {
    color: grey;
    text-decoration: none;

}

button {
    background-color: darkorange;
    color: white;
    font-size: 1rem;
}

body {
    background-image: url(/nodepopJS/recursos/imagenes/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 10fr 0.5fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "header"
    "section"
    "footer"
}

header{
    grid-area: header;

    display: grid;
    margin: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". logo nav"

}

section{
    grid-area: section;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    overflow: auto;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer{
    grid-area: footer;
}

#logo{
    grid-area: logo;
    width: 80%;
    background-image: url('/nodepopJS/recursos/imagenes/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#logo>a{
    display: block;
    height: 100%;
    width: 100%;
}

nav{
    grid-area: nav;

    color: white;
    width: 100%;
    align-self: center;
}

nav>ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>ul>li{
    padding: 0.5rem;
    display: flex;
    width: 100%;
}

.boton, .boton-login{
    width: 20%;
}

.a-header{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.a-header>button{

    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    font-weight: 700;
}

.buscar {
    width: 100%;
    color: grey;
}

.buscar>input{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
}

article{
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2fr 1fr 1fr 1fr;
    width: 10%;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 2px 2px 10px #666;

}

input:valid {
    background-color: rgb(158, 198, 199);
}

input:invalid{
    background-color: rgb(251, 225, 225);
}

.boton {
    visibility:hidden;
}

.fa-sign-in-alt{
    color: rgb(231, 55 , 60);
}

.fa-cloud-upload-alt{
    color: rgb(0   , 156 , 140);
}

.fa-edit{
    color: rgb(234,90,42);   
}